<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Mall</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body class="bg-gray-100">
    <div th:replace="~{nav.html :: navbar}"></div>

    <main class="container mx-auto px-4 py-8">
        <div class="grid grid-cols-1 gap-6">
            <div th:each="item : ${items}" class="p-4">
                <a th:href="@{'/item/detail/' + ${item.getId()}}">
                    <div class="bg-white shadow-md rounded-lg p-4 flex items-center">
                        <img src="https://placehold.co/300" class="w-24 h-24 bg-gray-300 rounded-md">
                        <div class="ml-4">
                            <h2 th:text="${item.getTitle()}" class="text-xl font-bold">Camera</h2>
                            <p th:text="${item.getPrice() + '원'}" class="text-lg text-gray-600">10,000원</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </main>
</body>
</html>