<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Mall</title>
    <link href="/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div th:replace="~{nav.html :: navbar}"></div>

    <main class="container mx-auto px-4 py-8">
        <div class="grid grid-cols-1 gap-6">
            <div class="p-4">
                <input id="title" type="text" placeholder="아이템 이름"
                       class="px-3 py-2 border border-white-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                <input id="price" type="number" placeholder="가격"
                       class="px-3 py-2 border border-white-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                <div>
                    <input type="file" onchange="getURL(this)">
                </div>

                <div>
                    <button onclick="add()"
                            class="px-4 py-1 bg-white border border-gray-300 rounded shadow hover:bg-gray-100">
                        전송</button>
                </div>
            </div>
        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        // 쿠키에서 CSRF 토큰을 읽어오는 함수
        async function getCsrfToken() {
            const response = await axios.get('/api/csrf-token');
            return response.data.token;
        }

        let presignedUrl = "";  // 전역 변수로 선언
        let file = null;

        async function add() {
            const title = document.getElementById('title').value;
            const price = document.getElementById('price').value;
            const csrfToken = await getCsrfToken();

            axios.post('/item/add', {
                title: title,
                price: price
            }, {
                headers: {
                    'Content-Type': 'application/json',
                    'X-XSRF-TOKEN': csrfToken
                }
            }).then(() => {
                uploadImage();
                location.href = '/item';
            }).catch((error) => {
                alert("에러 코드 : " + error.response.status + "\n" +
                    "에러 메시지 : " + error.response.data.message);
            });
        }

        async function getURL(e) {
            file = e.files[0];
            let filename = encodeURIComponent(file.name);
            axios.get('/item/upload?filename=' + filename)
                .then((response) => {
                    presignedUrl = response.data;
                }).catch((error) => {
                    alert("에러 코드 : " + error.response.status + "\n" +
                        "에러 메시지 : " + error.response.data.message);
                });
        }

        function uploadImage() {
            const formData = new FormData();
            formData.append('file', file);
            axios.put(presignedUrl, {
                data: formData
            }, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).catch((error) => {
                alert("에러 코드 : " + error.response.status + "\n" +
                    "에러 메시지 : " + error.response.data.message);
            });
        }
    </script>
</body>

</html>