<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Mall</title>
    <link href="/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div th:replace="~{nav.html :: navbar}"></div>

    <main class="container mx-auto px-4 py-8">
        <div class="bg-gray-100 flex items-center justify-center min-h-screen">
            <div class="bg-white shadow-lg rounded-lg w-96 p-6">
                <main class="text-center">
                    <div class="flex items-center justify-center p-4">
                        <img src="https://placehold.co/300"
                             class="bg-gray-300 rounded-md">
                    </div>
                    <div>
                        <h4 th:text="${itemDetail.getTitle()}" class="text-xl font-semibold">Camera</h4>
                        <p th:text="${itemDetail.getPrice() + '원'}" class="text-lg text-gray-700">10,000원</p>
                    </div>
                </main>
            </div>
        </div>
    </main>
</body>
</html>