<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Mall</title>
    <link href="/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div th:replace="~{nav.html :: navbar}"></div>

    <main class="container mx-auto px-4 py-8">
        <div class="grid grid-cols-1 gap-6">
            <div class="bg-white shadow-md rounded-lg p-4 flex items-center">
                <h4 th:text="${name} + '님이 등록한 상품'"></h4>
            </div>

            <div th:each="item : ${myItems}" class="p-4">
                <a th:href="@{'/item/detail/' + ${item.getId()}}">
                    <div class="bg-white shadow-md rounded-lg p-4 flex items-center">
                        <img src="https://placehold.co/300" class="w-24 h-24 bg-gray-300 rounded-md">
                        <div class="ml-4">
                            <h2 th:text="${item.getTitle()}" class="text-xl font-bold">Camera</h2>
                            <p th:text="${item.getPrice() + '원'}" class="text-lg text-gray-600">10,000원</p>
                            <a th:if="${(item.getUsername() == #authentication.getName())}" >
                                <button th:onclick="|confirmDelete(${item.getId()})|"
                                        class="px-4 py-1 bg-white border border-gray-300 rounded shadow hover:bg-gray-100">
                                    삭제</button>
                                <button th:onclick="|modify(${item.getId()})|"
                                        class="px-4 py-1 bg-white border border-gray-300 rounded shadow hover:bg-gray-100">
                                    수정</button>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div th:replace="~{page.html :: pagebar}"></div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function getCsrfToken() {
            const response = await axios.get('/api/csrf-token');
            return response.data.token;
        }
        async function confirmDelete(id) {
            if (!confirm("정말 아이템을 삭제하시겠습니까?")) {
                return;
            }
            const csrfToken = await getCsrfToken();
            axios.delete(`/item/delete/${id}`, {
                headers: {
                    'Content-Type': 'application/json',
                    'X-XSRF-TOKEN': csrfToken
                }
            }).catch((error) => {
                    alert("에러 코드 : " + error.response.status + "\n" +
                        "에러 메시지 : " + error.response.data.message);
                }).finally(() => {
                location.reload();
            });
        }
        function modify(itemId) {
            axios.get(`/item/modify/${itemId}`)
                .then(() => {
                    location.href = '/item/modify/' + itemId;
                }).catch((error) => {
                    alert("에러 코드 : " + error.response.status + "\n" +
                        "에러 메시지 : " + error.response.data.message);
                });
        }
        function getItems(page, totalPage) {
            if(page < 1) {
                return;
            }
            axios.get('/my-page/' + page)
                .then(() => {
                    location.href = '/my-page/' + page;
                })
                .catch((error) => {
                    alert("에러 코드 : " + error.response.status + "\n" +
                        "에러 메시지 : " + error.response.data.message);
                });
        }
    </script>
</body>
</html>